<!--custom Angular element with header selector-->
<app-header></app-header>

<!--banner component -->
<ng-container *ngIf="(bannerDetail$ | async)?.length > 0">
    <app-banner [bannerTitle] = "(bannerDetail$ | async)[0]?.title" [bannerOverview] = "(bannerDetail$ | async)[0]?.plot_overview" [bannerURL] = "bannerURL" [contentID] = "(bannerDetail$ | async)[0]?.contentID"></app-banner >
</ng-container>
<!--movie carousel component assigning movies array to videoContent-->
<main class="overflow-x-auto hide-scrollbar">
    <!--comedy carousel-->
    <app-movie-carousel [videoContents] = "comedyMovies" [title]="'Comedy Movies'"></app-movie-carousel>
</main>
<main class="overflow-x-auto hide-scrollbar">
    <!--drama carousel-->
    <app-movie-carousel [videoContents] = "dramaMovies" [title]="'Drama Movies'"></app-movie-carousel>
</main>
<main class="overflow-x-auto hide-scrollbar">
        <!--action carousel-->
        <app-movie-carousel [videoContents] = "actionMovies" [title]="'Action Movies'"></app-movie-carousel>
</main>
<main class="overflow-x-auto hide-scrollbar">
    <!--scifi carousel-->
    <app-movie-carousel [videoContents] = "scifiMovies" [title]="'SciFi Movies'"></app-movie-carousel>
</main>
<main class="overflow-x-auto hide-scrollbar">
    <!--romance carousel-->
    <app-movie-carousel [videoContents] = "romanceMovies" [title]="'Romance Movies'"></app-movie-carousel>
</main>
<footer class="flex justify-center items-center mt-auto py-4">
    <p>
        Streaming Data Powered by 
        <a href="https://www.watchmode.com/" target="_blank" rel="noopener noreferrer" class="ml-2 text-blue-500 hover:underline">Watchmode.com</a>
    </p>    
</footer>
