<h1> Login </h1>
<!--if error is set to a message, render-->
<% if (messages.error) { %>
    <%= messages.error %>
    <% } %>
<!--post to the /login route -->
<form action = "/login" method = "POST"> 
    <!--create email and password inputs-->
    <div>
        <label for = "email">Email</label>
        <input type ="text" id= "email" name="email" required>
    </div>
    <div>
        <label for = "password">Password</label>
        <input type ="text" id= "name" name="password" required>
    </div>
    <button type = "submit">Login</button>
</form>
<!--navigate to login page-->
<a href="/register">Register</a>